@import "tailwindcss";

html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
button {
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
}